<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">项目
                <small>追求完美</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/home">主页</a>
                </li>
                <li class="active">项目</li>
            </ol>
        </div>

    </div>

    <div class="section-colored">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><strong>美贝直通车 - 摇一摇红包</strong></h2>
                    <h5><strong>2015.03 - 2015.04</strong></h5>

                    <p>摇一摇红包也是美贝直通车平台上众多营销活动中的一种，其主要是针对微信来开发的，手机摇一摇便可以摇到你想要的流量，因为三大运营商的流量包都是整体打包的，所以摇一摇结果
                        分为两种1：自定义流量币美贝（平台设定1美贝==1M流量），当达到500美贝的时候才能提供兑换，2：直接摇出流量包20M，50M，100M，500M等。该模块与其他模块结合，构成
                        了数据闭环。</p>
                    <ul>
                        <li>已上线可以直接演示</li>
                        <li>针对微信开发</li>
                        <li>与其他模块之间的数据通信</li>
                        <li>创建活动时候涉及到很多自定义的东西，如各种概率，各种广告链接等</li>
                        <li>业务逻辑并不复杂，摇一摇请求后台，出现流量包的概率和流量币的概率，然后还有每一种流量包的概率和每一中流量币的概率（涉及到的数据比较多）</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--<img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">-->
                    <div class="bs-example" data-example-id="simple-carousel">
                        <div id="carousel-project1" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-project1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-project1" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-project1" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-project1" data-slide-to="3" class=""></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img
                                            alt="First slide"
                                            src="images/projects/mbay-channel-shake/1-1.png"
                                            data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img
                                            alt="Second slide"
                                            src="images/projects/mbay-channel-shake/1-2.png"
                                            data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img
                                            alt="Third slide"
                                            src="images/projects/mbay-channel-shake/1-3.png"
                                            data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img alt="Four slide"
                                         src="images/projects/mbay-channel-shake/1-4.png"
                                         data-holder-rendered="true">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-project1" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-project1" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--<img class="img-responsive" src="http://placehold.it/700x450">-->
                    <div class="bs-example" data-example-id="simple-carousel">
                        <div id="carousel-project2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-project2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-project2" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-project2" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-project2" data-slide-to="3" class=""></li>
                                <li data-target="#carousel-project2" data-slide-to="4" class=""></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img alt="First slide"
                                         src="images/projects/mbay-channel-o2o/2-1.png"
                                         data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img alt="Second slide"
                                         src="images/projects/mbay-channel-o2o/2-2.png"
                                         data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img alt="Third slide"
                                         src="images/projects/mbay-channel-o2o/2-3.png"
                                         data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img alt="Four slide"
                                         src="images/projects/mbay-channel-o2o/2-4.png"
                                         data-holder-rendered="true">
                                </div>

                                <div class="item">
                                    <img alt="Five slide"
                                         src="images/projects/mbay-channel-o2o/2-5.png"
                                         data-holder-rendered="true">
                                </div>
                            </div>

                            <a class="left carousel-control" href="#carousel-project2" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-project2" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">
                                <a target="_blank"
                                   href="https://github.com/Fenlon/campaign-o2o">Github地址：
                                    https://github.com/Fenlon/campaign-o2o</a>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <a target="_blank"
                                   href="http://120.25.230.36:8080/campaign-web/">项目演示：http://120.25.230.36:8080/campaign-web/</a>
                            </li>
                            <li class="list-group-item list-group-item-warning">
                                <a target="_blank"
                                   href="http://120.25.230.36:8080/campaign-qrcode/">项目演示：http://120.25.230.36:8080/campaign-qrcode/</a>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                平台管理(node.js)：http://120.25.230.36:3000/campaign-admin/
                            </li>
                        </ul>
                        <!--<a href="http://www.baidu.com">baidu</a>-->
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><strong>美贝直通车 - O2O红包</strong></h2>
                    <h5><strong>2014.12 - 2015.03</strong></h5>

                    <p>O2O红包为美贝直通车众多营销活动中的一种营销活动，其主要是基于O2O（online to
                        offline）商业模式来开发的，在美贝直通车平台上商家可以自定义自己的O2O活动，线上线下之间的纽带为二维码。
                        主要涉及到的线下数据为门店管理，操作员管理，操作员登录等，兑换码兑换等，线上为活动的创建和活动详细的
                        统计和查询。每个门店是以二维码作为入口的，人们可以通过扫描二维码来查看门店的红包墙，选择要参与的活动，
                        参与成功后会得到一个以二维码为表现形式的兑换码。线下操作员可以通过扫一扫来解析兑换码进行兑换工作，
                        设计到操作员安全等。总体来说该模块比较复杂，需求一直在变，最终并未得到上线。
                    </p>
                    <ul>
                        <li><strong style="color:pink;">图片为毕业设计简洁版</strong></li>
                        <li>二维码模块</li>
                        <li>门店操作员管理和安全</li>
                        <li>活动设置复杂,基于LBS推荐功能</li>
                        <li>因为美贝直通车为其他商家提供平台，所以牵扯到很多用户自定义的数据</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <div class="section-colored">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><strong>互联网舆情监控系统</strong></h2>
                    <h5><strong>2014.03 - 2014.09</strong></h5>

                    <p>
                        互联网舆情监控系统分为9个子系统,当时以实习的身份跟随老师在参与这个项目，参与了平台管理模块子系统（zutnlp-admin）的开发,
                        后期自己独立负责单点登录模块（zutnlp-security）的开发。项目开发环境为JavaEE，IDE为Eclipse，
                        后台使用框架为（SpringMVC Spring JPA（Hibernate）），前台客户端框架为Extjs4，
                        数据交互和展示为JSON+EXTJS4+RESTFUL，项目版本控制为SVN，项目构建工具为Maven，项目集成工具为Jenkins。</p>
                    <strong>
                        A：平台管理模块子系统（zutnlp-admin）
                    </strong>
                    <ul>
                        <li>前台数据展示为Extjs4+jsp</li>
                        <li>平台管理模块主要是对用户，角色，用户组，权限，其他系统模块之间的管理</li>
                        <li>为模块负责人，涉及到模块的搭建,SSJ（SpringMVC Spring Jpa（Hibernate））</li>
                    </ul>
                    <strong>
                        B：单点登录模块（zutnlp-security）
                    </strong>
                    <ul>
                        <li>SSO单点登录主要使用的是耶鲁大学开源的JA-SIG CAS，版本为4.0</li>
                        <li>CAS-Client主要使用的是Spring-Security-CAS</li>
                        <li>CAS-Server主要是对JA-SIG CAS中Server的深度定制</li>
                        <li>zutnlp-security-admin主要是集成整个项目的其他九个子系统，实现单点登录</li>
                        <li>技术主要涉及（SpringMVC 、Spring 、Spring-Data-Jap（Hibernate）、Ldap目录管理 、前端JSON+EXTJS4+RESTFUL）</li>
                        <li>单点登录实现方式为用户映射和统一用户管理（全局用户映射到各个子系统的用户，刚开始打算使用ldap来做统一用户管理，最终由于时间问题改为了数据库模式）。</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--<img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">-->
                    <div class="bs-example" data-example-id="simple-carousel">
                        <div id="carousel-project3" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-project3" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-project3" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-project3" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-project3" data-slide-to="3" class=""></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img data-src="holder.js/900x500/auto/#777:#555/text:First slide"
                                         alt="First slide [900x500]"
                                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNzc3OiM1NTUvdGV4dDpGaXJzdCBzbGlkZQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE0ZTM5ODNjZjcxIHRleHQgeyBmaWxsOiM1NTU7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NDVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTRlMzk4M2NmNzEiPjxyZWN0IHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNzc3Ii8+PGc+PHRleHQgeD0iMzA4LjI4OTA2MjUiIHk9IjI3MC4xIj5GaXJzdCBzbGlkZTwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                         data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img data-src="holder.js/900x500/auto/#666:#444/text:Second slide"
                                         alt="Second slide [900x500]"
                                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNjY2OiM0NDQvdGV4dDpTZWNvbmQgc2xpZGUKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGUzOTgzOTFkZiB0ZXh0IHsgZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQ1cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZTM5ODM5MWRmIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzY2NiIvPjxnPjx0ZXh0IHg9IjI2NC45NDUzMTI1IiB5PSIyNzAuMSI+U2Vjb25kIHNsaWRlPC90ZXh0PjwvZz48L2c+PC9zdmc+"
                                         data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img data-src="holder.js/900x500/auto/#555:#333/text:Third slide"
                                         alt="Third slide [900x500]"
                                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNTU1OiMzMzMvdGV4dDpUaGlyZCBzbGlkZQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE0ZTM5ODM4YjNjIHRleHQgeyBmaWxsOiMzMzM7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NDVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTRlMzk4MzhiM2MiPjxyZWN0IHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjNTU1Ii8+PGc+PHRleHQgeD0iMjk4LjMxMjUiIHk9IjI3MC4xIj5UaGlyZCBzbGlkZTwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                         data-holder-rendered="true">
                                </div>
                                <div class="item">
                                    <img alt="Four slide"
                                         src="images/1.jpg"
                                         data-holder-rendered="true">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-project3" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-project3" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
</div>