<div class="container">
    <!--简历title-->
    <div id="base_info" class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center"><h3><strong>熊 凤 龙 个 人 简 历</strong></h3></div>
            <div class="col-sm-4 text-right"></div>
        </div>
    </div>

    <div id="skill" class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <img class="img-thumbnail"
                     style="width: 240px; height: 363px;"
                     src="images/resume/fenlon.png"
                     data-holder-rendered="true">
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success"><strong>姓名：
                            熊凤龙</strong></a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>学历： 本科</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>学校： 中原工学院</strong>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>专业： 软件工程</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>手机： 18621722672</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>英语： 英语四级(CET4)</strong>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>出生年月： 1991.11</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>个人主页： http://fenlonsky.com</strong>
                        </a>
                        <a href="mailto:fenlonxiong@gmail.com" class="list-group-item list-group-item-success">
                            <strong>个人邮箱： fenlonxiong@gmail.com</strong>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <a target="_blank" href="https://github.com/Fenlon"
                           class="list-group-item list-group-item-success">
                            <strong>&nbsp;&nbsp;Github： https://github.com/Fenlon</strong>
                        </a>
                        <a target="_blank" href="http://www.fenlonsky.com/#project"
                           class="list-group-item list-group-item-success">
                            <strong>项目介绍： http://www.fenlonsky.com/#/project</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>在校表现： 两次获得校综合奖学金和校三好学生称号</strong>
                                </div>
                                <div class="col-sm-6">
                                    <strong>个人爱好： 篮球、台球、听歌、coding</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"
             style="width: 100%;">
        </div>
    </div>

    <!--专业技能-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>专业技能</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>熟悉</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟悉SpringMVC 、Spring 、Hibernate 、Spring-Data-Jpa 、Mybatis等企业级开源框架；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟悉AngularJs 、ExtJS4 、Boot strap3等前端客户端技术；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟练使用JQuery 、Ajax 、HTML 、CSS 、Javascript等前端技术；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟悉MySQL的基本操作和SQL语句的语法；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟练使用Eclipse 、MyEclipse 、IntelliJ IDEA 、WebStrome等IDE；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟悉Jasig-CAS 、Spring-Security-CAS有关单点登录开源框架；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;熟练使用Maven 、GIT 、SVN 等构建工具和团队协作和项目管理工具；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;能够使用当前流行的一些服务，如Redis 、FastDFS 、Mycat中间件；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>了解</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;了解JPA 、Struts2 、Spring-Data等Java规范和开源框架；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;能够使用JSON +（JS框架（EXTJS/AngularJS））+ RESTFUL做数据交互和展示；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;了解SQL Server 、MySQL 、Oracle等关系型数据库和MongDB 、Neo4j等非关系型数据库；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star"
                                          aria-hidden="true">&nbsp;了解前端构建工具bower和Grunt；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;了解Linux的基本操作和使用，了解流行的Docker容器，自己维护了一台阿里云服务器（CentOS 7）；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;了解Node.js，曾使用node做过小项目，了解MEAN（MongDB，Express，AngularJS，Node）基于Javascript的开发架构；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>素养</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                        <span class="glyphicon glyphicon-star"
                                              aria-hidden="true">&nbsp;能够读懂国外开源项目的官方文档；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                        <span class="glyphicon glyphicon-star"
                                              aria-hidden="true">&nbsp;项目开发中有日结和周报记录习惯；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;有关注技术论坛和开源社区的习惯，以便了解互联网技术趋势；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;关注github别人优秀的项目，阅读别人的源码；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--自我评价-->

    <div id="Self_evaluation" class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>自我评价</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>自学能力 / 动手能力 / 自主解决问题能力 / 团队意识 / 责任心</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;重设计轻开发这一理念的追随者（设计好了，开发起来就顺）；</span>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;在校期间一直参与学校老师的项目，有较强的动手能力；</span>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;有想法，有责任心，能吃苦、有一定的抗压能力（曾在上海兼职过收银员）；</span>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;有较强的学习能力和处理问题的能力（大二就进入实验室自己学习Java相关技术，能独立处理BUG）；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--工作经历-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>工作经历</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>2014.10 - 2015.04 &nbsp;&nbsp;|&nbsp;&nbsp; 赛志科技（上海）有限公司
                                &nbsp;&nbsp;|&nbsp;&nbsp; Java开发工程师</strong>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        首先这是一家创业公司，主要是做互联网营销的，手里握着三大运营商的流量接口，所以营销载体为流量。这是我离开学校到上海的第一份工作，公司并未拿我当实习生看待,工作得到认可，年终被为优秀员工。
                                    </p>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;1： 刚开始到公司主导了开发环境的统一化，制定了一套公司的开发环境并打包上传到公共服务器，供大家统一下载。（主要是上一份实习让我知道这样做的重要性）；</span>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span>&nbsp;2： 为公司引入了Maven构建工具，使得项目管理更加的轻松，推荐过Git并未采用，公司依然使用svn；</span>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;3： 参与了公司的部分对外接口的对接，如三家短信服务提供商的短信对接，部分地区的流量接口对接；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span>&nbsp;4： 刚开始还参与了一些bug的修复；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;5： 独立参与公司新业务O2O红包的设计与开发，因为需求总是变，最终定位为基于LBS的平台服务，最终搁置，不过项目基本已经完成；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span>&nbsp;6： 与公司另一位同事一起做摇一摇红包的设计与实现，最终得到部署，业务并不复杂；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;7： 发现公司项目过于臃肿，提出了Maven Module分模块开发的想法，得到重视和解决，后来参与模块的划分和提取；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span>&nbsp;8： 设计了公司的基础模块的mbay-base，并进行了提取和整合，主要是为其他模块做基础服务的，如对三层的抽象和基本实现，公共帮助类的设计和抽取，主要是做抽象和基本实现；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;9： 后期组长提出要做数据库读写分离，我推荐了Mycat中间件，并自己完成了数据库读写分离的实现；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item ">
                                    <span>10： 主要技术SpringMVC 、Spring、Mybatis 、Mycat 、Redis 、FastDFS 、Maven；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>11： 公司站点为 http://www.mbpartner.cn；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>2014.03 - 2014.09 &nbsp;&nbsp;|&nbsp;&nbsp;
                                名动时代（北京）科技有限公司 &nbsp;&nbsp;|&nbsp;&nbsp; Java开发工程师</strong>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        名动时代（北京）科技有限公司是与我们学校计算机学院深度合作的一家公司，共同开发的项目为一个互联网舆情监控系统，系统分为9个子系统。当时以实习的身份跟随老师在参与这个项目，参与了平台管理模块子系统（zutnlp-admin）的开发,后期自己独立负责单点登录模块（zutnlp-security）的开发。项目开发环境为JavaEE，IDE为Eclipse，后台使用框架为（SpringMVC
                                        Spring
                                        JPA（Hibernate）），前台客户端框架为Extjs4，数据交互和展示为JSON+EXTJS4+RESTFUL，项目版本控制为SVN，项目构建工具为Maven，项目集成工具为Jenkins。
                                    </p>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;A： 平台管理模块子系统（zutnlp-admin）</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;介绍： 请看项目经验（zutnlp-admin）</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;B： 单点登录模块（zutnlp-security）</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;介绍： 请看项目经验</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--项目经验-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>项目经验</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <!--摇一摇红包-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-10"><strong>2015.03 - 2015.04 &nbsp;&nbsp;|&nbsp;&nbsp;
                                        赛志科技（上海）有限公司 &nbsp;&nbsp;|&nbsp;&nbsp; 美贝直通车 -
                                        摇一摇红包</strong></div>
                                    <div class="col-sm-2">
                                        <strong>核心开发人员</strong>
                                    </div>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        摇一摇红包是美贝直通车平台上众多营销活动中的一种，其主要是针对微信来开发的，手机摇一摇便可以摇到你想要的流量，因为三大运营商的流量包都是整体打包的，所以摇一摇结果分为两种1：自定义流量币美贝（平台设定1美贝==1M流量），当达到500美贝的时候才能提供兑换，2：直接摇出流量包20M，50M，100M，500M等。该模块与其他模块结合，构成了数据闭环。
                                    </p>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;1： 业务逻辑并不复杂，摇一摇请求后台，出现流量包的概率和流量币的概率，然后还有每一种流量包的概率和每一中流量币的概率（涉及到的数据比较多）；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;2： 创建活动时候涉及到很多自定义的东西，如各种概率，各种广告链接等；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;3： 与其他模块之间的数据通信；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;4： 针对微信开发；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;5： 上线可以直接演示；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--O2O红包-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-10"><strong>2014.10 - 2015.03 &nbsp;&nbsp;|&nbsp;&nbsp;
                                        赛志科技（上海）有限公司 &nbsp;&nbsp;|&nbsp;&nbsp; 美贝直通车 -
                                        O2O红包</strong></div>
                                    <div class="col-sm-2">
                                        <strong>模块负责人</strong>
                                    </div>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        O2O红包为美贝直通车众多营销活动中的一种营销活动，其主要是基于O2O（online to
                                        offline）商业模式来开发的，在美贝直通车平台上商家可以自定义自己的O2O活动，线上线下之间的纽带为二维码。主要涉及到的线下数据为门店管理，操作员管理，操作员登录等，兑换码兑换等，线上为活动的创建和活动详细的统计和查询。每个门店是以二维码作为入口的，人们可以通过扫描二维码来查看门店的红包墙，选择要参与的活动，参与成功后会得到一个以二维码为表现形式的兑换码。线下操作员可以通过扫一扫来解析兑换码进行兑换工作，设计到操作员安全等。总体来说该模块比较复杂，需求一直在变，最终并未得到上线。
                                    </p>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;1： 二维码模块；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;2： 活动设置复杂；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;3： 门店操作员管理和安全；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;4： 基于LBS推荐功能；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;5： 因为美贝直通车为其他商家提供平台，所以牵扯到很多用户自定义的数据；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--互联网舆情监控系统-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-10"><strong>2014.04-2014.09 &nbsp;&nbsp;|&nbsp;&nbsp;
                                        名动时代（北京）科技有限公司 &nbsp;&nbsp;|&nbsp;&nbsp; 互联网舆情监控系统</strong></div>
                                    <div class="col-sm-2">
                                        <strong>核心成员</strong>
                                    </div>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        基本介绍：项目开发环境为JavaEE，IDE为Eclipse，后台使用框架为（SpringMVC Spring
                                        JPA（Hibernate）），前台客户端框架为Extjs4，数据交互和展示为JSON+EXTJS4+RESTFUL，项目版本控制为SVN，项目构建工具为Maven，项目集成工具为Jenkins。
                                    </p>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <span><strong>&nbsp;A： 单点登录模块（zutnlp-security）</strong></span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;1： SSO单点登录主要使用的是耶鲁大学开源的JA-SIG CAS，版本为4.0；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;2： 单点登录实现方式为用户映射和统一用户管理（全局用户映射到各个子系统的用户，刚开始打算使用ldap来做统一用户管理，最终由于时间问题改为了数据库模式）；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;3： 模块分为两个子模块CAS-Server和CAS-Client；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;4： CAS-Client主要使用的是Spring-Security-CAS，主要是Spring-Security中集成了CAS；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;5： CAS-Server主要是对JA-SIG CAS中Server的深度定制；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;6： zutnlp-security-admin主要是集成整个项目的其他九个子系统，实现单点登录；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;7： 技术主要涉及（SpringMVC 、Spring 、Spring-Data-Jap（Hibernate）、Ldap目录管理 、前端JSON+EXTJS4+RESTFUL）；</span>
                                </a>

                                <a href="javascript:void (0)" class="list-group-item list-group-item-info">
                                    <span><strong>&nbsp;B： 平台管理模块（zutnlp-security）</strong></span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;1： 为模块负责人，主要涉及到模块的搭建，zutnlp-admin，SSJ（SpringMVC Spring Jpa（Hibernate））；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;2： 因为是平台管理模块主要是对用户，角色，用户组，权限，其他系统模块之间的管理；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;3： 前台数据展示为Extjs4+jsp；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--精品课程-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-10"><strong>2013.10-2014.01 &nbsp;&nbsp;|&nbsp;&nbsp;
                                        JavaEE精品课程网站(课程设计) &nbsp;&nbsp;|&nbsp;&nbsp; 项目的整体架构和开发</strong></div>
                                    <div class="col-sm-2">
                                        <strong>项目负责人</strong>
                                    </div>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;负责： 整个项目的开发和设计（包括axure原型设计，独立开发）；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp; 网站优化（流量压缩（包装Response类），找回密码（邮件发送），自动登录（cookie加密验证）等）；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item list-group-item-success">
                                    <span>&nbsp;模块： BBS论坛 、在线聊天 、在线测试 、上传下载 、在线留言板 、及时消息提醒；</span>
                                </a>
                                <a href="javascript:void (0)" class="list-group-item">
                                    <span>&nbsp;收获： 第一次web项目，单纯jsp+servlet，涉及到一些设计模式（包装、工厂、代理等）；</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--作品展示-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>作品展示</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>作品展示</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="http://www.fenlonsky.com/#/project" target="_blank"
                                   class="list-group-item list-group-item-success">http://www.fenlonsky.com/#/project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
