<div class="container">
    <!--简历title-->
    <div id="base_info" class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center"><h3><strong>熊 凤 龙 个 人 简 历</strong></h3></div>
            <div class="col-sm-4 text-right"></div>
        </div>
    </div>

    <div id="skill" class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <img class="img-circle"
                     style="width: 140px; height: 140px;"
                     src="images/resume/fenlon.png"
                     data-holder-rendered="true">
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success"><strong>姓名：
                            熊凤龙</strong></a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>学历： 本科</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>学校： 中原工学院</strong>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>专业： 软件工程</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>手机： 18621722672</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>英语： 英语四级(CET4)</strong>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>出生年月： 1991.11</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <strong>个人主页： http://fenlonsky.com</strong>
                        </a>
                        <a href="mailto:fenlonxiong@gmail.com" class="list-group-item list-group-item-success">
                            <strong>个人邮箱： <a href=mailto:fenlonxiong@gmail.com>fenlonxiong@gmail.com</a></strong>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="list-group">
                        <a target="_blank" href="https://github.com/Fenlon"
                           class="list-group-item list-group-item-success">
                            <strong>&nbsp;Github： https://github.com/Fenlon</strong>
                        </a>
                        <a target="_blank" href="http://www.fenlonsky.com/#project"
                           class="list-group-item list-group-item-success">
                            <strong>项目介绍： http://www.fenlonsky.com/#/project</strong>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-success">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>在校表现： 两次获得校综合奖学金和校三好学生称号</strong>
                                </div>
                                <div class="col-sm-6">
                                    <strong>个人爱好： 篮球、台球、听歌、coding</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"
             style="width: 100%;">
        </div>
    </div>

    <!--专业技能-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>专业技能</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="javascript:void(0) " class="list-group-item list-group-item-success">

                                     熟悉SpringMVC 、Spring 、Hibernate、Spring-Data-Jpa 、Mybatis等企业级开源框架；
                                     熟悉AngularJs 、ExtJS4 、Boot strap3等前端客户端技术；
                                     熟练使用JQuery 、Ajax 、HTML 、CSS 、Javascript等前端技术；
                                     熟悉MySQL的基本操作和SQL语句的语法；
                                     熟练使用Eclipse 、MyEclipse 、IntelliJ IDEA 、WebStrome等IDE；
                                     熟悉Jasig-CAS 、Spring-Security-CAS有关单点登录开源框架；
                                     熟练使用Maven 、GIT 、SVN 等构建工具和团队协作和项目管理工具；
                                     能够使用当前流行的一些服务，如Redis 、FastDFS 、Mycat中间件；


                                </a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--自我评价-->

    <div id="Self_evaluation" class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>自我评价</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">自学能力 /动手能力 /自主解决问题能力 自主解决问题能力 /团队意识 /责任心</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--工作经历-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>工作经历</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--项目经验-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>项目经验</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--作品展示-->

    <div class="row">
        <div class="col-sm-2">
            <div class="alert alert-danger" role="alert">
                <div class="text-center"><strong>作品展示</strong></div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">自学能力 /动手能力 /自主解决问题能力 自主解决问题能力 /团队意识 /责任心</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis
                                    in</a>
                                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh
                                    libero</a>
                                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur
                                    ac</a>
                                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
